@model List<ADOAnalyser.Models.TestRunResult>
@{
    ViewData["Title"] = "Reports";
}
<h2>Test Run History</h2>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Run Date</th>
                    <th>Date Range</th>
                    <th>Summary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var run in Model)
                {
                    <tr>
                        <td>@run.RunDate</td>
                        <td>@run.StartDate?.ToShortDateString() - @run.EndDate?.ToShortDateString()</td>
                        <td>@run.ResultSummary</td>
                        <td>
                            <a asp-controller="Reports" asp-action="DownloadCsv" asp-route-runId="@run.RunId" class="btn btn-primary btn-sm mt-2">
                                Download CSV
                            </a>
                            <div class="spinner-border text-primary csv-loader" style="display:none; width: 1rem; height: 1rem;" role="status"></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>