@model List<ADOAnalyser.Models.TestRunResult>
@{
    ViewData["Title"] = "Reports";
}
<section id="reports" class="content">
    <div class="header" style="font-weight:bold">Run Checks History</div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Run Date</th>
                        <th>Date Range</th>
                        <th>Summary</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var run in Model)
                    {
                        <tr>
                            <td>@run.RunDate</td>
                            <td>@run.StartDate?.ToShortDateString() - @run.EndDate?.ToShortDateString()</td>
                            <td>@run.ResultSummary</td>
                            <td>
                                <a asp-controller="Reports" asp-action="DownloadCsv" asp-route-runId="@run.RunId" style="margin-right:5px" class="btn btn-primary btn-sm">
                                    Download CSV
                                </a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm send-email-btn" data-runid="@run.RunId">
                                    Send Email
                                </a>
                                <div class="spinner-border text-primary csv-loader" style="display:none; width: 1rem; height: 1rem;" role="status"></div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript">

$(document).ready(function () {
        $('.send-email-btn').click(function () {
            var runId = $(this).data('runid');

            $.ajax({
                url: '@Url.Action("EmailSend", "Reports")',
                type: 'GET',
                data: { runId: runId },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                    } else {
                        alert("Error: " + response.message);
                    }
                },
                error: function () {
                    alert("An error occurred while sending the email.");
                }
            });
        });
    });

</script>