<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADOAnalyser</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ADOAnalyser.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" id="sidebar">
            <div class="brand" onclick="toggleSidebar()">
                <h2 class="text-label">Autospot Check</h2>
                <span class="menu-icon"><i class="fas fa-bars"></i></span>
            </div>

            <ul id="menu">
                @{
                    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                }

                <li data-section="dashboard" class="nav-item @(currentController == "Dashboard" ? "active" : "")">
                    <span class="menu-icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <a class="text-label navbar-brand stretched-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                </li>
                <li data-section="application" style="display:none" class="nav-item @(currentController == "Application" ? "active" : "")">
                    <span class="menu-icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <a class="text-label navbar-brand stretched-link" asp-area="" asp-controller="Application" asp-action="Index">Application</a>
                </li>
                <li data-section="runChecks" class="nav-item @(currentController == "RunChecks" ? "active" : "")">
                    <span class="menu-icon">
                        <i class="fas fa-check-circle"></i>
                    </span>
                    <a class="text-label navbar-brand stretched-link" asp-area="" asp-controller="RunChecks" asp-action="Index">Run Checks</a>
                </li>
                <li data-section="reports" class="nav-item @(currentController == "Reports" ? "active" : "")">
                    <span class="menu-icon">
                        <i class="fas fa-chart-line"></i>
                    </span>
                    <a class="text-label navbar-brand stretched-link" asp-area="" asp-controller="Reports" asp-action="Index">Reports</a>
                </li>
                <li data-section="graphs"  class="nav-item @(currentController == "Graph" ? "active" : "")">
                    <span class="menu-icon">
                        <i class="fas fa-chart-bar"></i>
                    </span>
                    <a class="text-label navbar-brand stretched-link" asp-area="" asp-controller="Graph" asp-action="Index">Graph</a>
                </li>
                <li data-section="builds" class="nav-item @(currentController == "Build" ? "active" : "")">
                    <span class="menu-icon">
                        <i class="fa-solid fa-pipe"></i>
                    </span>
                    <a class="text-label navbar-brand stretched-link" asp-area="" asp-controller="Build" asp-action="Index">Builds</a>
                </li>
            </ul>
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Common.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.canvasjs.com/jquery.canvasjs.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>