<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADOAnalyser</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ADOAnalyser.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <h2>Autospot Check</h2>
        <ul id="menu">
            @{
                var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
            }

            <li data-section="dashboard" class="@(currentController == "Dashboard" ? "active" : "")">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
            <li data-section="application" style="display:none" class="@(currentController == "Application" ? "active" : "")">
                <a class="navbar-brand" asp-area="" asp-controller="Application" asp-action="Index">Application</a>
            </li>
            <li data-section="runChecks" class="@(currentController == "RunChecks" ? "active" : "")">
                <a class="navbar-brand" asp-area="" asp-controller="RunChecks" asp-action="Index">Run Checks</a>
            </li>
            <li data-section="reports" class="@(currentController == "Reports" ? "active" : "")">
                <a class="navbar-brand" asp-area="" asp-controller="Reports" asp-action="Index">Reports</a>
            </li>
            <li data-section="settings">Settings</li>
        </ul>
    </div>
    <div class="main">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Common.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false);
</body>
</html>