@model ADOAnalyser.Models.WorkItemModel
<div class="container mt-5 table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class ="info">
                <th style="width:10px">ID</th>
                <th>Title</th>
                <th>Impact Assessment</th>
                
                <th>Development Status</th>
                <th>QA Status</th>
                <th>Assinged</th>
                <th>State Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        @foreach (var project in Model.value)
        {
            <tr>
                <td>@project.id</td>
                <td>@project.fields.SystemTitle</td>
                @* <td>NA</td> *@
                <td>@Html.Raw( @project.fields.MicrosoftVSTSCMMIImpactAssessmentHtml)</td>
                <td>@project.fields.CustomDevelopmentStatus</td>
                <td>@project.fields.CustomQAStatus</td>
                <td>@project.fields.SystemChangedBy</td>
                <td>@project.fields.SystemState</td>
            </tr>
        }
    </table>
</div>