@model ADOAnalyser.Models.WorkItemModel
<div class="row">
    <div class="col-md-12 table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Work Item</th>
                    <th style="width:10px">ADO Item ID</th>
                    <th>Impact Assessment</th>
                    <th>Root Cause</th>
                    <th>Project Zero</th>
                    <th>PR Lifecycle</th>
                    <th>Status Discrepancy</th>
                    <th>Test Case Gaps</th>
                    <th>VTD</th>
                    <th>VLBD/VED</th>
                    <th>ADO State</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.value != null && Model.value.Any())
                {
                    foreach (var project in Model.value)
                    {
                        <tr>
                            <td>@project.fields.SystemWorkItemType</td>
                            <td><a href="https://civica-cp.visualstudio.com/CE/_workitems/edit/@project.id" target="_blank">@project.id</a></td>
                            <td class="@project.fields.IAStatus">@project.fields.IAStatus</td>
                            <td class="@project.fields.RootCauseStatus">@project.fields.RootCauseStatus</td>
                            <td class="@project.fields.ProjectZeroStatus">@project.fields.ProjectZeroStatus</td>
                            <td class="@project.fields.PRLifeCycleStatus">@project.fields.PRLifeCycleStatus</td>
                            <td class="@project.fields.StatusDiscrepancyStatus">@project.fields.StatusDiscrepancyStatus</td>
                            <td>@Html.Raw(@project.fields.TestCaseGapeHTML)</td>
                            <td class="@project.fields.VTDMissingStatus">@project.fields.VTDMissingStatus</td>
                            <td class="@project.fields.VLDBMissingStatus">@project.fields.VLDBMissingStatus</td>
                            <td>@project.fields.SystemState</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9" class="text-center">No work items found for this sprint.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
