@model ADOAnalyser.Models.SprintViewModel
@{
    ViewData["Title"] = "DashBoard";
}
<section id="dashboard" class="content">
    <div class="header" style="font-weight:bold">ADO Work Items Verification Dashboard</div>
    <div class="row mb-3">
        <div class="col-md-12 d-flex flex-row">
            <div class="form-label">Select Sprint :</div>
        </div>
        @using (Html.BeginForm("Index", "Dashboard", FormMethod.Get, new { @class = "col-md-12 d-flex flex-row" }))
        {
            <select id="sprintDashBoardFilter" name="selectedSprint" class="selectpicker form-control" onchange="this.form.submit();">
                @foreach (var sprint in Model.AllSprints)
                {
                    <option value="@sprint" selected="@(sprint == Model.SelectedSprint ? "selected" : null)">
                        @sprint
                    </option>
                }
            </select>
        }
    </div>
    <div class="row">
        <div class="col-md-12 mb-2">
            <label class="form-label header" style="float:right;font-size:20px;margin-bottom:10px">Total Work Items in Sprint : <a class="loadData" name="All" style="font-weight:bold;text-decoration:none;cursor:pointer">@Model.WorkItemData.count</a></label>
        </div>
    </div>
    <div class="row" id="tableChart">
        <div class="col-md-4 mb-4">
            <div class="card">
                <a class="loadData" name="IAStatus" style="text-decoration:none;cursor:pointer">
                    <div class="card-body"><h3>Impact Assessment Missing</h3><p class="badge">@Model.WorkItemData.missingIACount</p></div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <a class="loadData" name="RootCauseStatus" style="text-decoration:none;cursor:pointer">
                    <div class="card-body"><h3>Root Cause Missing</h3><p class="badge">@Model.WorkItemData.missingRootCauseCount</p></div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <a class="loadData" name="ProjectZeroStatus" style="text-decoration:none;cursor:pointer">
                    <div class="card-body"><h3>Project Zero Not Filled</h3><p class="badge">@Model.WorkItemData.missingProjectZeroCount</p></div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <a class="loadData" name="PRLifeCycleStatus" style="text-decoration:none;cursor:pointer">
                    <div class="card-body"><h3>PR Lifecycle Incomplete</h3><p class="badge">@Model.WorkItemData.missingPRLifeCycleCount</p></div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <a class="loadData" name="StatusDiscrepancyStatus" style="text-decoration:none;cursor:pointer">
                    <div class="card-body"><h3>Status Discrepancies</h3><p class="badge">@Model.WorkItemData.missingStatusDiscreCount</p></div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <a class="loadData" name="TestCaseGapeStatus" style="text-decoration:none;cursor:pointer">
                    <div class="card-body"><h3>Test Case Discrepancy</h3><p class="badge">@Model.WorkItemData.missingTestCaseCount</p></div>
                </a>
            </div>
        </div>
    </div>
    <div id="workItemsTable">
    </div>

    <div id="loader" style="display: none;justify-items:center">
        <div class="spinner"></div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        loadGrid("All");
    });

    $('.loadData').click(function () {
        let currentWorkType = $(this).attr('name');
        loadGrid(currentWorkType);
    });

    function loadGrid(currentWorkType){
            $('#workItemsTable').html("");
            $("#loader").show();
            $.ajax({
                url: '@Url.Action("GridLoad", "DashBoard")',
                type: 'GET',
                data: { missingType: currentWorkType },
                success: function (result) {
                    $('#workItemsTable').html(result);
                },
                error: function (xhr) {
                    console.error(xhr.responseText);
                    alert('Error loading partial view.');
                },
                complete: function () {
                    $("#loader").hide();
                }
            });
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.loadData').forEach(card => {
            card.addEventListener('click', function () {
                document.querySelectorAll('.card').forEach(c => c.classList.remove('active'));
                this.closest('.card').classList.add('active');
            });
        });
    });

</script>